@font-face {
    font-family: 'karla';
    src: url(/fonts/Karla.ttf);

    font-family: 'neon';
    src: url(/fonts/NEON.otf);
}


:root {
    --green: #daff02;
    --orange: #fe572a;
    --purple: #685bc7;
    --white: #f3f0eb;
    --black: #201e1f;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.4;
}

body {
    font-family: 'karla';
    color: var(--black);
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: var(--black);
}
.display-screen {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}


header {
    color: var(--green);
    width: 90%;
    margin: auto;
    height: 100%;
    padding: 25px 35px;
    background-color: var(--purple);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 50px 7px var(--purple);
}

main {
    height: 100%;
}

footer {
    max-width: 70%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    color: var(--white);
}

.flex-box {
    display: flex;
}

#m-section {
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
    flex-direction: column;
    justify-content: center;
}

#menu {
    margin: auto;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 30px;
    .button {
        color: var(--green);
        font-family: 'neon';
        font-size: 1.2em;
        height: 65px;
        min-width: 200px;
        width: fit-content;
        padding: 15px;
        border-radius:50px;
        border: none;
        transition: all .2s;
        background-color: var(--green);
        box-shadow: 
        0px 6px 0px 2px rgba(104, 91, 199, 1), 
        inset 0px 0px 20px 28px var(--black);
        &:hover {
            color: var(--purple);
            cursor: pointer;
            box-shadow: 
            0px 2px 0px 2px rgba(104, 91, 199, 1),
            inset 0px 0px 13px 1px #9eba01;
        }

    }
}

#content {
    width: 95%;
    margin: auto;
    h2 {
        font-family: 'neon';
        font-size: 2.5em;
        text-shadow: rgba(249,249,249,0.9) 0px 0px 24px;
        color: var(--white);
        width: 30%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 10px;
        border-radius: 10px;
    }
}

#info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.disco {
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 250px;
        height: 250px;
        filter: drop-shadow(0px 0px 15px var(--green));
        animation: rotar 6s linear infinite;
    }
    ul {
        text-align: left;
        width: 70%;
        background-color: var(--green);
        box-shadow: -5px 5px 0px 5px var(--purple);
        padding: 15px;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 10px;
        li{list-style: none;}
    }
}

.discoMayor {
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 250px;
        height: 250px;
        filter: drop-shadow(0px 0px 15px var(--white));
        animation: rotar 6s linear infinite;
    }
    ul {
        text-align: left;
        width: 70%;
        background-color: var(--white);
        box-shadow: -5px 5px 0px 5px var(--orange);
        padding: 15px;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 10px;
        li{list-style: none;}
    }
}

.seleccionado {
    outline: 3px solid var(--white);
    outline-offset: 25px;
    outline-style: dashed;
}

.divPistas {
    margin: 5px;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    background-color: var(--purple);
    color: var(--white);
}
.divPistasMayor {
    margin: 5px;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--white);
}

.redColor{
    color: #ff0000!important;
}

@keyframes rotar{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}