@font-face {
    font-family: 'karla';
    src: url(fonts/Karla.ttf);

    font-family: 'neon';
    src: url(fonts/NEON.otf);
}


:root {
    --green: #daff02;
    --orange: #fe572a;
    --purple: #685bc7;
    --white: #f3f0eb;
    --black: #201e1f;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.4;
}

body {
    font-family: 'karla';
    color: var(--black);
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: var(--black);
}
.display-screen {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr;
}

header {
    height: 5vh;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    width: 20px;
    margin: auto;
    height: 2vh;
    background-color: var(--white);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 50px 7px var(--white);
    overflow: hidden;
    transition: all .5s;
    &:hover {
        width: 90%;
        height: 5vh;
        padding: 25px 35px;
        h1 {
            filter: opacity(1);
            transition: all 3s;
        }
    }
    h1 {
        font-size: 1.5em;
        filter: opacity(0);
        overflow: hidden;
        transition: all .1s;
    }
}

main {
    height: 100%;
}

footer {
    background: linear-gradient(180deg,rgba(32, 30, 31, 1) 0%, rgba(104, 91, 199, 1) 100%);
    padding: 20px;
    color: var(--white);
    a {color: var(--white);}
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    text-align: center;
    ul {display: flex; flex-direction: column;}
    li {list-style: none;}
}

.flex-box {
    display: flex;
}

#m-section {
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
    flex-direction: column;
    justify-content: center;
}

#menu {
    margin: auto;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 30px;
    .button {
        color: var(--purple);
        font-family: 'neon';
        font-size: 1.2em;
        height: 65px;
        min-width: 200px;
        width: fit-content;
        padding: 15px;
        border-radius:50px;
        border: none;
        transition: all .5s;

       transition: all .2s;
        background-color: var(--white);
        box-shadow: 
            0px 2px 0px 2px rgba(104, 91, 199, 1),
            inset 0px 0px 13px 3px #b0ada8;
        &:hover {
            color: var(--orange);
            filter: brightness(1.05);
            cursor: pointer;
            box-shadow: 
            0px 5px 0px 2px var(--orange),
            inset 0px 0px 13px 1px #b0ada8;
        }  

    }
}

#content {
    width: 95%;
    margin: auto;
    h2 {
        font-family: 'neon';
        font-size: 2.5em;
        text-shadow: rgba(249,249,249,0.9) 0px 0px 24px;
        color: var(--white);
        width: 30%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 10px;
        border-radius: 10px;
    }
}

#info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.disco {
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 250px;
        height: 250px;
        filter: drop-shadow(0px 0px 15px var(--green));
        animation: rotar 6s linear infinite;
    }
    ul {
        text-align: left;
        width: 70%;
        background-color: var(--green);
        box-shadow: -5px 5px 0px 5px var(--purple);
        padding: 15px;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 10px;
        li{list-style: none;}
    }
}

.discoMayor {
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 250px;
        height: 250px;
        filter: drop-shadow(0px 0px 15px var(--white));
        animation: rotar 6s linear infinite;
    }
    ul {
        text-align: left;
        width: 70%;
        background-color: var(--white);
        box-shadow: -5px 5px 0px 5px var(--orange);
        padding: 15px;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 10px;
        li{list-style: none;}
    }
}

.seleccionado {
    outline: 3px solid var(--white);
    outline-offset: 25px;
    outline-style: dashed;
}

.divPistas {
    margin: 5px;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    background-color: var(--purple);
    color: var(--white);
}
.divPistasMayor {
    margin: 5px;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--white);
}

.redColor{
    color: #ff0000!important;
}

.purpleColor{
    color: var(--purple)!important;
}

@keyframes rotar{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (width < 950px) {
    .disco, .discoMayor {
        flex-direction: column;
    }

        #menu {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        .button {
            font-size: 1em;
            padding: 5px;
            height: 40px;
        }
    }

    header div {
        width: 90%;
        height: 5vh;
        padding: 35px 45px;
        h1 {
            filter: opacity(1);
            transition: all 3s;
            font-size: 1.3em;
        }
        &:hover {
            width: 90%;
        height: 5vh;
        padding: 25px 35px;
        h1 {
            filter: opacity(1);
            transition: all 3s;
            font-size: 1.3em;
        }
        }
    }
    
}

@media screen and (width < 500px) {

    header div {
        width: 90%;
        height: 5vh;
        padding: 25px 35px;
        h1 {
            filter: opacity(1);
            transition: all 3s;
            font-size: .7em;
        }
        &:hover {
            width: 90%;
        height: 5vh;
        padding: 25px 35px;
        h1 {
            filter: opacity(1);
            transition: all 3s;
            font-size: .7em;
        }
        }
    }

    #menu {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        .button {
            font-size: 1em;
            padding: 5px;
            height: 40px;
        }
    }

    #content {
        h2 {
            width: 100%;
            font-size: 1.5em;
            margin-bottom: 65px;
        }
    }
    
    #info {
        flex-direction: column;
        gap: 100px;
    }

    .disco, .discoMayor {
        flex-direction: column;
    }
    
    .seleccionado {
    outline: 3px solid var(--white);
    outline-offset: 1px;
    outline-style: dashed;
}
}